
.button {
    all: unset;
    height: 20px;
    padding: 10px;
    font-weight: bold;
    background:#F2D130;
    color: white;
  }
  
  .button:disabled {
    background: lightgray;
    cursor: not-allowed;
  }